{
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "max-len": [
    "error",
    120,
    2
  ],
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "proseWrap": "always"
}