.justifyFlexCenter {
  justify-content: center;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifySpaceAround {
  justify-content: space-around;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStart {
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.noWrap {
  flex-wrap: nowrap;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.root {
  display: flex;
}