.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
  margin: -10px 0 0;

  &.open {
    gap: 5px;
    margin: 0;
  }
}

.sectionButton {
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

.collapseIcon {
  transition: transform 0.2s;
}

.collapseIconOpen {
  transform: rotate(90deg);
}
