.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  align-items: flex-end;
  overflow: hidden;
  bottom: 20px;
  right: 60px;
  color: #fff;
  z-index: var(--z-notifications);

  &[data-count]::after {
    content: var(--notification-count);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    color: var(--color-text-on-secondary);
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.1), -1px -1px 2px rgb(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    right: -170px;
    top: -70px;
    z-index: var(--z-notifications);
  }
}

.container {
  display: flex;
  bottom: 100%;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  max-width: 330px;
  height: 60px;
  min-height: 60px;
  padding: 10px 20px;
  background-color: var(--color-primary);
  z-index: var(--z-notifications);

  &:last-of-type {
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.3);
  }
}

.severityError {
  background-color: var(--color-error);
}

.severitySuccess {
  background-color: var(--color-success);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  margin-left: auto;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
  }

  circle {
    stroke: #fff;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
