.container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  background-color: var(--color-neutral);
  padding: 15px;
  text-align: center;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  font-size: calc(var(--font-size) - 2px);
  background-position: center;
  cursor: pointer;
  background-size: cover;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.2s;

  &:hover {
    border: 2px dashed var(--color-brand);
  }
}

.containerDrag {
  border: 2px dashed var(--color-brand);
}

.link {
  display: inline;
  color: var(--color-brand);
  cursor: pointer;
  font-weight: bold;

  &:hover {
    opacity: 0.5;
  }
}

.hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -2px;
  right: -2px;
  bottom: -2px;
  top: -2px;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0;
  color: var(--color-brand);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.text {
  opacity: 0.6;
  font-size: 0.7rem;
  padding-top: 10px;
}
