.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1;
}

.headerInfo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.preview {
  width: 100%;
  aspect-ratio: 19/9;
  border-radius: 12px;
}

.miniMap {
  display: flex;
  gap: 8px;
  overflow: hidden;
}

.miniMapItem {
  flex-shrink: 0;
  width: 84px;
  height: 84px;
  border-radius: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  height: 26px;
  border-radius: 13px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px 0;
  width: 100%;
}

.profile {
  display: flex;
  gap: 12px;
  align-items: center;
}

.profileText {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.commentsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.comment {
  display: flex;
  gap: 10px;
}

.commentBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
