.previewContainer {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 0;

  :global(.swiper) {
    width: 100%;
    min-width: 0;
    height: 100%;
  }

  :global(.swiper-wrapper),
  :global(.swiper-slide) {
  }
}
