:root {
  --PaletteColorsBlack: #000000;
  --PaletteColorsWhite: #FFFFFF;
  --PaletteColorsGreen: #34C75A;
  --PaletteColorsRed: #FF3B31;
  --PaletteColorsBlue: #007AFF;
  --PaletteColorsOrange: #FF9501;
  --PaletteColorsYellow: #FFCC01;
  --PaletteColorsPink: #FF486C;
  --PaletteColorsTeal: #5AC8FB;
  --PaletteColorsIndigo: #5856D7;
  --PaletteColorsPurple: #AF52DF;
  --PaletteColorsPrimary: #2B2B2B;
  --PaletteColorsSecondary: #FFFFFF;
  --PaletteColorsBrand: #2B2B2B;
  --PaletteBackgroundPrimary: #2B2B2B;
  --PaletteBackgroundHover: #2B2B2B;
  --PaletteBackgroundSecondary: #2B2B2B;
  --PaletteTextNormal: #FFFFFF;
  --PaletteTextLabel: #FFFFFF;
  --PaletteTextDescription: #FFFFFF;
  --PaletteTextDisabled: #FFFFFF;
  --PaletteTextError: #FF3B31;
  --PaletteTextLink: #2B2B2B;
  --PaletteTextButton: #FFFFFF;
  --PaletteIconNormal: #FFFFFF;
  --PaletteIconHover: #FFFFFF;
  --PaletteIconPressed: #FFFFFF;
  --PaletteIconActive: #2B2B2B;
  --PaletteIconDisabled: #FFFFFF;
  --PaletteDivider: #FFFFFF;
  --PaletteBorderNormal: #FFFFFF;
  --PaletteBorderHover: #FFFFFF;
  --PaletteBorderActive: #FFFFFF;
  --PaletteBorderFocus: #FFFFFF;
  --PaletteBorderDisabled: #FFFFFF;
  --PaletteBorderError: #FF3B31;
  --PaletteLineNormal: #FFFFFF;
  --PaletteLineHover: #FFFFFF;
  --PaletteLineFocus: #FFFFFF;
  --LayoutSpaceSm: 5px;
  --LayoutSpaceMd: 10px;
  --LayoutSpaceLg: 15px;
  --LayoutBorderRadiusSm: 5px;
  --LayoutBorderRadiusMd: 10px;
  --LayoutBorderRadiusLg: 15px;
  --TypographyFontFamily: Roboto, sans-serif;
  --TypographyFontSize: 14px;
  --TypographyFontWeight: 400;
  --TypographyLineHeight: 20px;
  --TypographyFontSizeSm: 10px;
  --TypographyFontSizeMd: 14px;
  --TypographyFontSizeLg: 16px;
  --TypographyH1FontSize: 32px;
  --TypographyH1LineHeight: 44px;
  --TypographyH1FontWeight: 700;
  --TypographyH2FontSize: 24px;
  --TypographyH2LineHeight: 36px;
  --TypographyH2FontWeight: 700;
  --TypographyH3FontSize: 20px;
  --TypographyH3LineHeight: 32px;
  --TypographyH3FontWeight: 700;
  --TypographyH4FontSize: 18px;
  --TypographyH4LineHeight: 28px;
  --TypographyH4FontWeight: 700;
  --TypographyLabelFontSize: 12px;
  --TypographyLabelLineHeight: 16px;
  --TypographyLabelFontWeight: 400;
  --TypographyTextNormalFontSize: 14px;
  --TypographyTextNormalLineHeight: 20px;
  --TypographyTextNormalFontWeight: 400;
  --TypographyTextBoldFontSize: 14px;
  --TypographyTextBoldLineHeight: 20px;
  --TypographyTextBoldFontWeight: 700;
  --TypographyTextStatusSuccess: #70c073;
  --TypographyTextStatusDanger: #ff8935;
  --TypographyTextStatusInfo: #6b88e9;
  --TypographyTextStatusError: #ce5252;
  --InputSmFontSize: 14px;
  --InputSmBorderRadius: 5px;
  --InputMdFontSize: 16px;
  --InputMdBorderRadius: 5px;
  --InputLgBorderRadius: 7px;
  --InputLgFontSize: 16px;
  --ButtonSmBorderRadius: 3px;
  --ButtonSmFontSize: 14px;
  --ButtonMdBorderRadius: 5px;
  --ButtonMdFontSize: 16px;
  --ButtonLgBorderRadius: 7px;
  --ButtonLgFontSize: 16px;
  --ButtonBorderRadiusSm: 3px;
  --ButtonBorderRadiusMd: 5px;
  --ButtonBorderRadiusLg: 7px;
  --CardSmBorderRadius: 7px;
  --CardMdBorderRadius: 9px;
  --CardLgBorderRadius: 11px;
  --PanelSmBorderRadius: 7px;
  --PanelMdBorderRadius: 9px;
  --PanelLgBorderRadius: 11px;
}
