.skeleton {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--color-primary-accent);
  border-radius: 8px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-background-shadow),
      transparent
    );
    animation: shimmer 1.4s infinite;
  }
}

.text {
  border-radius: 4px;
  height: 12px;
}

.circle {
  border-radius: 50%;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
