.image {
  object-position: center;
  object-fit: contain;
  width: 100%;
  aspect-ratio: 16/8;
}

.contentPreview {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.2s;
  flex-grow: 1;
  min-height: 150px;
  background-color: #6b7495;

  @media all and (min-width: 1199px) {
    min-height: 350px;
  }
}

