.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
