.Wrapper {
  display: flex;
  border-radius: var(--layoutBorderRadiusSm);
  position: relative;
  border: 1px solid var(--paletteBorderNormal);
  transition: 0.2s;
  transition-property: opacity, background-color, border, box-shadow;

  &:hover {
    border-color: var(--paletteBorderHover);
  }

  &:focus-within {
    border-color: var(--paletteBorderFocus);
    box-shadow: 0 0 0 2px var(--paletteStatusInfoDark);
  }
}

.TextInput {
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  flex-grow: 1;
  font: inherit;
  width: 100%;
  max-width: 100%;
  color: inherit;
  border-radius: var(--layoutBorderRadiusSm);
  padding: var(--layoutSpaceSm) var(--layoutSpaceMd);
  box-shadow: inherit;
  text-overflow: ellipsis;
  font-size: var(--typographyTextNormalFontSize);

  &::placeholder {
    opacity: 0.6;
    color: var(--paletteTextDescription);
  }

  &.cursor {
    cursor: pointer
  }
}

.Prepend,
.Append {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--layoutSpaceSm) 0;

  svg {
    width: 18px;
    height: 18px;
  }
}

.Prepend {
  margin-right: calc(-1 * var(--layoutSpaceSm));
  margin-left: var(--layoutSpaceSm);
}

.Append {
  margin-right: var(--layoutSpaceSm);
  margin-left: calc(-1 * var(--layoutSpaceSm));
  cursor: pointer;

  svg {
    &:hover {
      transform: scale(1.1);
    }
  }
}