.image {
  cursor: zoom-in;
  max-width: 100%;
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1001;

  &:hover {
    transform: scale(0.9);
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  padding: 100px;
  max-height: 90%;
  overflow: hidden;
}

.dragOverlay {
  cursor: grab;
  max-height: 100%;
  min-width: max-content;
  user-select: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.dragOverlay:active {
  cursor: grabbing;
}

.modalImage {
  pointer-events: none;
  height: 60vh;
  user-select: none;
  border-radius: 10px;
}
