.statisticContainer {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
  overflow: hidden;

  @media all and (max-width: 768px) {
    padding: 0;
  }
}

.statisticList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 20px 0;
  overflow: auto;

  @media all and (max-width: 768px) {
    padding: 0;
  }
}

.statisticUserRow {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.statisticUserInfo {
  display: flex;
  gap: 5px;
  flex-direction: column;
  overflow: hidden;
}

.statisticUserNameRow {
  display: flex;
  gap: 4px;
  align-items: center;
}

.statisticUserDate {
  display: flex;
  overflow: hidden;
}

.statisticStatsRow {
  display: flex;
  align-items: center;
}

.statisticCircleItem {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
}

.statisticIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: var(--color-secondary);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px var(--color-secondary-accent);
  cursor: pointer;
  color: var(--color-text-on-secondary);
  transition: 0.2s;
  transition-property: transform;

  &:hover {
    transform: scale(1.06);
  }

  svg {
    -webkit-filter: drop-shadow(0px 0px 2px var(--color-icon-on-secondary));
    filter: drop-shadow(0px 0px 2px var(--color-icon-on-secondary));
  }
}

.statisticIconText {
  text-align: center;
  font-size: calc(var(--font-size) - 2px);
  opacity: 0.6;
}
