.textLink {
  color: var(--color-brand);
  cursor: pointer;
  font-weight: bold;
  display: inline;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
}
