.editable {
  font-size: 1.1rem;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  min-width: 40px;
  transition: 0.2s;
  padding: 3px 0;

  &:hover {
    padding: 3px 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.editing {
  padding: 3px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: text;
}

.disabled {
  pointer-events: none;
}